.container.row.center
  %h1.col.s12.m12.l12 All products
.row
  - @products.each do |p|
    .col.s4.m7.l3
      .card
        .card-image
          = image_tag "placehoolder.png"
          %span.card-title= p.name
        .card-action
          %a $ #{p.price}
        .card-action
          .add-to-cart.waves-effect.waves-light.btn-small= link_to "Add to cart", add_to_cart_url(product_id: p.id), remote: true, "data-pid" => p.id