.container
  .row
    %h4.center= @product.name
  .row
    = image_tag "placehoolder.png", class: "col l6"
    .row.col.l6
      .row
        .col.l12= @product.description
      .row
        .col.l12
          .waves-effect.waves-light.btn-large.right $ #{@product.price}
