%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text Footer Content
        %p.grey-text.text-lighten-4 Some text goes here i guess, gotta change this later
      .col.l4.offset-l2.s12
        %h5.white-text Another title goes here
        %ul
          %li
            %a.grey-text.text-lighten-3 Some link
          %li
            %a.grey-text.text-lighten-3 Some other link
          %li
            %a.grey-text.text-lighten-3 Yet another link
  .footer-copyright
    .container No copyright here                       
